<div class="flex flex-col items-center justify-center">
  <h2 class="text-2xl font-semibold mb-4">{{ getQuestion() | titlecase }}</h2>

  <ul class="space-y-4 w-full">
    <li
      class="cursor-pointer text-center p-4 text-lg font-medium transition duration-300 ease-in-out transform hover:scale-105 rounded-lg border border-gray-300"
      *ngFor="let answer of listOfQuestions![getIndex()].answers"
      (click)="setChosenAnswer(answer)"
      [ngClass]="{
        'bg-blue-300': answer === getChosenAnwer() && !getAcceptClicked(),
        'bg-green-300':
          answer === getChosenAnwer() &&
          getAcceptClicked() &&
          getChosenAnwer()!.isRight === 1,
        'bg-red-300':
          answer === getChosenAnwer() &&
          getAcceptClicked() &&
          getChosenAnwer()!.isRight === 0
      }"
    >
      <span class="ml-2">{{ answer.name | titlecase }}</span>
    </li>
  </ul>

  <button
    class="mt-4 px-6 py-3 rounded-full transition duration-300 ease-in-out"
    [ngClass]="{
      'bg-blue-500 text-white hover:bg-blue-600': getBtnStatus() === false,
      'bg-gray-300 text-gray-600 cursor-not-allowed': getBtnStatus() === true
    }"
    [disabled]="getBtnStatus()"
    (click)="next()"
  >
    {{ btnString }}
  </button>
</div>
