<div class="bg-pink-50 h-screen">
  <p>main-layout works!</p>
  <app-navbar></app-navbar>

  <div class="container mx-auto mt-8 p-4">
    <div class="max-w-2xl mx-auto bg-gray-50 rounded-lg shadow-md p-10">
      <router-outlet></router-outlet>
      <!-- <h2 class="text-2xl font-semibold mb-4 text-center">Question 1</h2>

    <div class="grid gap-4">
      <label class="flex items-center">
        <input type="radio" name="answer" class="form-radio text-blue-500" />
        <span class="ml-2">Answer A</span>
      </label>

      <label class="flex items-center">
        <input type="radio" name="answer" class="form-radio text-blue-500" />
        <span class="ml-2">Answer B</span>
      </label>

      <label class="flex items-center">
        <input type="radio" name="answer" class="form-radio text-blue-500" />
        <span class="ml-2">Answer C</span>
      </label>

      <label class="flex items-center">
        <input type="radio" name="answer" class="form-radio text-blue-500" />
        <span class="ml-2">Answer D</span>
      </label>
    </div> -->
    </div>
  </div>
</div>
